<!-- Image and text -->
<nav id="mainNav" class="navbar navbar-dark">
  <a class="navbar-brand" href="#">
    <img src="https://cdn.pixabay.com/photo/2014/04/03/00/41/race-car-309123_1280.png" width="40" height="40" class="d-inline-block align-top" alt="">
    evCalc
  </a>
</nav>