html, body {
  max-width: 100%;
  height:100%;
  overflow-x: hidden;
}

.content {
  animation: fadein 2s;
}

#mainNav{
  background-color: #04AA6D;
  border-bottom-right-radius: 100%;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


.main-background-custom {
background-color: 255,255,255,1;
background-position: center;
position:relative;
isolation: isolate;
}

.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
  border-top-left-radius: 100%;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
      background-color: #ccc;
      border-color: #000;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }
  
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }
  

.headInfo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.slider::-webkit-slider-thumb:active {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

.slider::-moz-range-thumb:active {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}


#range {
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:darkslategray;
  border-radius:1%;
  overflow: hidden;
}

